@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* @DateTime.Now  *@
@* @{
    int x = 10;
    string Name = "Mohamed";
}
@for(int i=0;i<x;i++)
{
    <h1>Mohamed Sobhy</h1>
}

Types of Views=> 1: standere=> return static  Data 
                 2: Partial=> لو فى جزء فى الصفحة هستخدمه فى اكتر من view احطه فى Partial view and call it اكتر من مرة  like Navbar
                 3: Layout=> لو فى اكتر من جزء واحد فى الصفحة هستخدمه فى اكتر من صفحة 
                 4: Strongly types => return dynamic data using Viewmodel معين 
                 يبقى الفرق بين Partial ان لو هستخدم جزء واحد بس اكتر من مرة فى اكتر من صفحة 
                 انما Layout لو هستخدم اكتر من جزء فى اكتر من صفحة يبقى دا نوعه layout 
 *@

