@using GymMangmentSystemDAL.Entities.Enums
@model CreateMember
<div class="container">
    <main role="main" class="pb-3">

        <header class="mb-4">
            <h3 class="text-primary-color">Add Member</h3>
        </header>
        @* لو فى اى error Message اعرضها *@
        @Html.ValidationMessage("DataInValid", new {@class="text-danger" })
        @* Form دى بعد تاخد الداتا من User لازم يبعتها بعد كدة لل Action تعمل Submit Data  *@
        <form method="post" asp-action="CreateMember">

            <!-- Step navigation -->
            <ul class="nav nav-tabs mb-4" id="addMemberTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="member-tab" data-bs-toggle="tab"
                            data-bs-target="#member-info" type="button" role="tab">
                        Member Info
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="health-tab" data-bs-toggle="tab" data-bs-target="#health-info"
                            type="button" role="tab">
                        Health Data
                    </button>
                </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content">
                <!-- Member Info -->
                <div class="tab-pane fade show active" id="member-info" role="tabpanel"
                     aria-labelledby="member-tab">
                    <div class="section-header mb-3">
                        <h5 class="text-primary fw-bold">Personal Information</h5>
                        <hr class="mt-2">
                    </div>
                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" type="text" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-md-6">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" type="text" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-md-6">
                            <label asp-for="Phone" class="form-label"></label>
                            <input asp-for="Phone" type="text" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="DateOfBirth" class="form-label"></label>
                            <input asp-for="DateOfBirth" type="date" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-md-6">
                            <label asp-for="Gender" class="form-label">
                                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                                    <option value="">---Select Gender---</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </label>
                        </div>

                    </div>
                    <div class="section-header mb-3 mt-4">
                        <h5 class="text-primary fw-bold">Address Information</h5>
                        <hr class="mt-2">
                    </div>
                    <div class="row g-3">

                        <div class="col-12 col-md-6">
                            <label asp-for="BuildingNumber" class="form-label"></label>
                            <input asp-for="BuildingNumber" class="form-control" />
                            <span asp-validation-for="BuildingNumber"></span>
                        </div>

                        <div class="col-12 col-md-6">
                            <label asp-for="Street" class="form-label"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="City" class="form-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City"></span>
                        </div>
                    </div>
                </div>

                <!-- Health Data -->
                <div class="tab-pane fade" id="health-info" role="tabpanel" aria-labelledby="health-tab">
                    <div class="row g-3">
                        <div class="col-12 col-md-6">
                            <label asp-for="HealthRecord.Height" class="form-label"></label>
                            <input asp-for="HealthRecord.Height" class="form-control" />
                            <span asp-validation-for="HealthRecord.Height"></span>
                        </div>

                        <div class="col-12 col-md-6">
                            <label asp-for="HealthRecord.Weight" class="form-label"></label>
                            <input asp-for="HealthRecord.Weight" class="form-control" />
                            <span asp-validation-for="HealthRecord.Weight"></span>
                        </div>

                        <div class="col-12 col-md-6">
                            @* اسيبها زى ماهى Static لان معنديش Enum اجيب منه الداتا عشان كدة معملتهاش بالطريقة التانيه اللىى هى Select List *@
                            <label asp-for="HealthRecord.BloodType" class="form-label"></label>
                            <select asp-for="HealthRecord.BloodType" class="form-select">
                                <option value="">Select</option>
                                <option>A+</option>
                                <option>A-</option>
                                <option>B+</option>
                                <option>B-</option>
                                <option>O+</option>
                                <option>O-</option>
                                <option>AB+</option>
                                <option>AB-</option>
                            </select>
                            <span asp-validation-for="HealthRecord.BloodType"><</span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="HealthRecord.Note" class="form-label"></label>
                            <input asp-for="HealthRecord.Note" class="form-control" />
                            <span asp-validation-for="HealthRecord.Note"></span>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="d-flex justify-content-end gap-3 mt-4">
                <a asp-controller="Member" asp-action="Index" class="btn btn-outline-secondary px-4">
                    <i class="bi bi-arrow-left me-2"></i> Back to List
                </a>

                <button type="submit" class="btn btn-primary px-4">
                    <i class="bi bi-plus-circle me-2"></i> Add
                </button>
            </footer>

        </form>

    </main>
</div>
   @* الجزء دا متكرر هنا وفى الCreate عشان كدة احطه فى Partial View وانادى عليها هنا وهناك اسم الPartial View =>_ValidationSciptPartial اللى هى اصلا معمولة لوحدها انا فقط انادى عليها هنا فى View  *@
@section Scripts {
@* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script> *@
    <partial name="_ValidationScriptsPartial">
}

