@model MemberToUpdateViewModel
    <div class="container">
        <main role="main" class="pb-3">

        @Html.ValidationMessage("DataInValid", new { @class = "text-danger" })
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card card-details border-0 p-2 shadow">
                            <div class="card-body text-center">
                                <div class="text-center mt-3">
                                    <img src="~/images/@Model.Photo" alt="@Model.Name" class="rounded-circle"
                                         style="width: 120px; height: 120px; object-fit: cover; border: 3px solid #fff; margin-top: -60px;" />
                                </div>
                                <div class="card-body text-center">
                                    @* Name is Static مش هعمل فيها حاجة اخليها زى ماهى  *@
                                    @* انا عايز ابعت الName in Form بس فى مشكلة هو اصلا Static مش هينفع حد يعدل عليه ولو انت بعته فى الفورم لازم حد يعدل عليها خلاص هبعته واخليه hidden بحيث محدش يشوفه وهو كدة كدة اصلا واخد القيمة بتاعته اللى موجودة فى Database  *@
                                    <h2 class="mb-1 text-primary-color">@Model.Name</h2>
                                    @* Will Submit Data To Action will Post Data on Server *@
                                    <form method="post" asp-action="MemberEdit"> 
                                        <input hidden readonly asp-for="Name"/>
                                        <div class="mt-4 text-start">
                                            <div class="row g-3">
                                                <div class="col-12">
                                                    <div class="p-3 bg-light rounded">
                                                        <small class="text-muted d-block mb-1">Email</small>
                                                        <input asp-for="Email" class="form-control" />
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="p-3 bg-light rounded">
                                                        <small class="text-muted d-block mb-1">Phone</small>
                                                        <input asp-for="Phone" class="form-control" />
                                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="p-3 bg-light rounded">
                                                        <small class="text-muted d-block mb-1">Building Number</small>
                                                        <input asp-for="BuildingNumber" class="form-control" />
                                                        <span asp-validation-for="BuildingNumber"
                                                              class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="p-3 bg-light rounded">
                                                        <small class="text-muted d-block mb-1">City</small>
                                                        <input asp-for="City" class="form-control" />
                                                        <span asp-validation-for="City" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="p-3 bg-light rounded">
                                                        <small class="text-muted d-block mb-1">Street</small>
                                                        <input asp-for="Street" class="form-control" />
                                                        <span asp-validation-for="Street" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="d-flex justify-content-between gap-2 mt-3 px-3 pb-3">
                                            <a asp-controller="Member" asp-action="Index" class="btn btn-fill ">
                                                Back to
                                                List
                                            </a>
                                            <button type="submit" class="btn btn-fill ">Done</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </main>
    </div>
@* الجزء دا متكرر هنا وفى الCreate عشان كدة احطه فى Partial View وانادى عليها هنا وهناك اسم الPartial View =>_ValidationSciptPartial اللى هى اصلا معمولة لوحدها انا فقط انادى عليها هنا فى View  *@
@section Scripts {
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script> *@
    <partial name="_ValidationScriptsPartial">
}
   